<title><%= site.title %></title>
<meta name="description" content="<%= page.description || site.description %>" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.png" />
<link rel="manifest" href="/manifest.json" />
<!-- TODO : remove these depends -->
<link rel="stylesheet" href="/css/icon.css" />
<link rel="stylesheet" href="/css/material.blue_grey-light_blue.min.css" />
<link rel="stylesheet" href="/css/simple-line-icons.css" />
<script src="/js/material.min.js"></script>
<!-- end todo -->

<script src="/js/hive.min.js"></script>


<link rel="stylesheet" href="/css/easymde.min.css">
<script src="/js/easymde.min.js"></script>

<script src="/js/remarkable.min.js"></script>
<script src="/js/sanitize-html.js?ver=5.2"></script>

<link rel="stylesheet" href="/css/styles.css?ver=7.42b">
<script src="https://unpkg.com/localbase/dist/localbase.dev.js"></script>
<script src="/js/blokz.js?ver=7.42b" defer></script>
<script src="/js/aes256.min.js?ver=7.42b"></script>


<link href="/css/css2.css" rel="stylesheet">


<script async defer data-website-id="f8d4f83f-eace-4673-a8bf-06ce4ef8620b" src="https://stats.hextech.group/umami.js"></script>